body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #1E90FF, #8A2BE2);
  }
  
  
  .background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: backgroundAnimation 20s infinite alternate linear;
    background: linear-gradient(135deg, #FF6B6B, #FFE66D, #45B649, #008FFD, #A4508B);
  }
  
  @keyframes backgroundAnimation {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  
  
  
  
  
  .navbar-section {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: background-color 0.3s;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  .nav-header {
    display: flex;
    align-items: center;
  }
  
  .avatar img {
    position: relative;
    top: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 0px;
  }
  
  .nav-toggle {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-left: 10px;
  }
  
  .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-family: 'REM', sans-serif;
  }
  
  .nav-links a:hover {
    color: #007bff;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  } 
  nav{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: flex;
    height: 80px;
    width: 100%;
    
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }
  nav .logo{
    color: #fff;
    position: absolute;
    top: 1.5rem;
    margin-left: 2rem;
    font-size: 35px;
    font-weight: 600;
  }
  nav .avatar img {
    position: relative;
    top: 3px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: -1.8rem;
  }
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #111;
    background: #fff;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: cyan;
    }
  }
  
  
  
  
  
  
  
  #home {
    position: relative;
    height: 82.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  
  }
  
  
  .image {
    flex: 0 0 auto;
    margin-right: 100px;
    position: relative;
    top: -50px;
  }
  
  .description {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .heading {
    position: relative;
    top: 10px;
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
  }
  
  .name {
    color: rgba(255, 244, 128, 0.95);
    font-family: 'Barriecito', cursive;
  
  }
  
  .name:hover {
    text-shadow: 0 0 5px rgba(255, 244, 128, 0.95);
    animation: glowAnimation 1s infinite alternate;
  
  }
  
  .intro {
    font-family: 'Handjet', cursive;
    font-size: 30px;
  }
  
  
  
  #social {
  
    display: flex;
    gap: 20px;
    /* Spacing between icons */
    align-items: center;
    margin-top: 10px;
    /* Add some spacing from the intro */
  }
  
  #social a {
    color: rgba(255, 244, 128, 0.95);
    /* Icon color */
    font-size: 30px;
    /* Adjust icon size */
    text-decoration: none;
    transition: color 0.3s;
  }
  
  #social a:hover {
    color: #ff4400;
   
  }
  
  .about {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    padding: 80px 0;
  }
  
  
  #education,
  #achievement {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  #education.active,
  #achievement.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .container {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    justify-content: space-between;
  }
  
  
  .descimage {
    display: flex;
    width: 400px;
    height: 400px;
  
  }
  
  .details {
    font-family: 'Varela Round', sans-serif;
    text-align: justify;
    margin-top: 60px;
    margin-right: 20px;
  }
  
  .para{
    padding: 10px;
    background: linear-gradient(45deg, #ebe186, #e1dce6);
    border-radius: 10px;
    margin-top: 2rem;
    box-shadow: 0 0 100px #ebe186;
  }
  .skills {
    text-align: center;
    padding: 80px 0;
  }
  
  .skills h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #000000;
    font-family: 'Varela Round', sans-serif;
    font-weight: 5000;
  }
  
  .skill-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .skill {
    width: 150px;
    padding: 20px;
    margin: 40px;
    background: #eef4a0;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
  }
  
  .skill-icon {
    margin-bottom: 10px;
  }
  
  .skill-icon img {
    width: 60px;
    height: 60px;
  }
  
  .skill h3 {
    font-size: 18px;
    color: #333;
  }
  
  
  .skills.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 1s ease, transform 1s ease;
  }
  
  .skills.active {
    opacity: 1;
    transform: translateY(0);
  }
  
  .projects {
    text-align: center;
    padding: 80px 0;
  }
  
  .projects h2 {
    font-size: 32px;
    margin-bottom: 40px;
    color: #000000;
    font-family: 'Varela Round', sans-serif;
    font-weight: 500;
  }
  
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* ... Previous CSS code ... */
  
  .project {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background: linear-gradient(45deg, #8A2BE2, #1E90FF);
    /* Use a gradient that's the opposite of the body background */
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #fff; /* White text color for better contrast */
  }
  
  .project:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .project-image img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
  }
  
  .project-description h3 {
    font-size: 20px;
    margin-top: 10px;
    color: #fff; /* White text color for headings */
  }
  
  .project-description p {
    font-size: 14px;
    margin-top: 10px;
    color: #ccc; /* Light gray text color for description */
  }
  
  .project-buttons {
    margin-top: 20px;
  }
  
  .project-buttons a {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .project-buttons a:hover {
    background-color: #ff5e14;
    color: white;
  }
  
  /* Styling for the Demo button */
  .demo-button {
    background-color: #ff5e14;
  }
  
  .demo-button:hover {
    background-color: #e63900;
  }
  
  
  .demo-button {
    background-color: #ff5e14;
  }
  
  .demo-button:hover {
    background-color: #e63900;
  }
  
  .contact {
    display: flex;
    flex-direction: row; /* Stack items vertically on small screens */
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 60px 0; /* Adjust padding for spacing */
  }
  
  .contact-text {
    flex: 1;
    padding: 0 20px; /* Adjust padding for spacing */
    text-align: center; /* Center-align the text */
  }
  
  .contact-text h2 {
    color: #FFFFFF; /* White text color */
    font-family: 'Varela Round', sans-serif;
    animation: fadeInUp 1s ease; /* Add fadeInUp animation */
    font-size: 32px; /* Adjust font size */
    margin-bottom: 15px; /* Reduce margin for spacing */
  }
  
  .contact-text p {
    font-size: 16px; /* Larger font size */
    color: #D3D3D3; /* Light gray text color */
    animation: fadeInUp 1.5s ease; /* Add fadeInUp animation */
  }
  
  /* Animation keyframes */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  
  .contact-form {
    flex: 1;
    padding: 0 20px; /* Add some padding for spacing */
  }
  
  .contact-form form {
    width: 100%;
    background: #eef4a0;
    max-width: 400px; /* Adjust max-width */
    padding: 20px; /* Adjust padding */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    animation: fadeInRight 1s ease; /* Add fadeInRight animation */
  }
  
  .contact-form label {
    font-size: 16px; /* Adjust font size */
    margin-bottom: 6px;
    color: #333;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px; /* Adjust padding */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form textarea {
    resize: vertical; /* Allow vertical resizing of textarea */
  }
  
  .contact-form button {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    
  }
  
  .contact-form button:hover {
    background-color: #0056b3;
  }
  
  
  @keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .footer {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    padding: 40px 0;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20px;
  }
  
  .footer-logo img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    padding: 5px;
  }
  
  .footer-links,
  .footer-social {
    margin-top: 20px;
  }
  
  .footer-links a,
  .footer-social a {
    text-decoration: none;
    color: #000000;
    margin: 0 10px;
    font-family: 'REM', sans-serif;
  }
  .footer-links a:hover,
  .footer-social a:hover {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
    font-family: 'REM', sans-serif;
  }
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #444;
    font-family: 'REM', sans-serif;
  }
  
  
  
  
  @media only screen and (max-width: 576px) {
    body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background: linear-gradient(45deg, #1E90FF, #8A2BE2);
    }
  
    #home {
      flex-direction: column;
      height: auto;
  
    }
  
    .image {
      width: 100%;
      max-height: 100%;
      position: relative;
      top: -50px;
    } 
  
    .description {
      text-align: left;
      margin-left: 0;
      margin-top: -60px;
      margin-left: 5px;
    }
  
    .heading {
      font-size: 40px;
      margin-left: 10px;
    }
  
    .name {
      font-size: 28px;
    }
  
    #social {
      justify-content: center;
    }
  
    /*.nav-header {
      justify-content: flex-end;
    }
  
    .nav-toggle {
      display: block;
      margin-right: 2rem;
      margin-left: 15rem;
    }
  
    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0;
      background-color: rgba(0, 0, 0, 0.9);
      max-width: 250px;
      padding: 20px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      z-index: 1001;
    }
  
    .navbar.open .nav-links {
      display: flex;
    }
  
    .nav-links a {
      font-size: 18px;
    }*/
  
  
  
  
    .about {
      flex-flow: column;
    }
  
    .descimage {
      width: 100%; 
      display: flex;
      justify-content: center; 
    }
  
    .descimage img {
      max-width: 100%; 
      height: auto;
    }
  
    .details {
      width: 100%; 
      margin-left: 10px;
      padding-right: 20px;
    }
  
    .container {
      flex-direction: column; 
      align-items: center; 
    }
    .contact {
      display: flex;
      flex-flow: row wrap;
      padding: 40px 0; 
      margin-right: 2px;
    }
  
    .contact-text h2 {
      font-size: 28px; /* Adjust font size for smaller screens */
    }
  
    .contact-text p {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
    .contact-form form {
      max-width: 100%; /* Full width on smaller screens */
      padding: 15px; /* Adjust padding for smaller screens */
    }
  
    .contact-form label {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
    .contact-form input,
    .contact-form textarea {
      padding: 6px; /* Adjust padding for smaller screens */
      margin-bottom: 8px; /* Reduce margin for smaller screens */
    }
  
    .contact-form button {
      padding: 6px 12px; /* Adjust padding for smaller screens */
    }
  
  
  }